@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
    background-color: rgb(248, 248, 246)
}
.main-color {
    background-color: rgb(58, 120, 95)
}
.secondary-color {
    background-color: rgb(236, 219, 206)
}
.section-color {
    background-color: rgb(242, 240, 237)
}
.text-color {
    background-color: #2c2621
}
.secondary-text {
    background-color: #958C83
}
.green {
    background-color: #cfe2d8
}